<table>
  <tr>
    <th><b>id</b></th>
    <th>In_Time</th>
    <th>Out_Time</th>
    <th>Break</th>
  </tr>   
  <% @attendences.each do |a| %>
    <tr>
      <td><b><%= a.id %></b></td>
      <td><%= a.in_time %></td>
      <td><%= a.out_time %></td>
      <td><%= a.break %></td>
    </tr>
  <%end%>
</table>