<div class="modal-dialog modal-full-height modal-right" role="document"">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">All Users Attendence</h4>
    </div>
    <div class="modal-body">
      <%= render 'index'%>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>